/*old css*/
/*

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
a {
  text-decoration: none;
  color: white;
}
hr {
  border: 5px solid #15835E;
}
body {
  font-family: helvetica;
  font-weight: 100;
  background: #666;
  color:white;
}
.container {
  width: 980px;
  margin: 0 auto;
}

ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}
ul li {
  display: inline;
  margin: 0 20px;
}
#footer ul li {
  margin: 10px;
}
nav ul li.active {
  border-bottom: 5px solid #15835E;
}
.sidebar {
  background: #15835E;
  float: left;
  width: 210px;
}
.sidebar img {
  margin: 0 10px 10px 0;
}

.maincolumn {
  float: right;
  width: 674px;
}

.logo {
  background: url(../images/pattern1.jpg);
  height:200px;
  width: 210px;
  margin-bottom: 10px;
  text-align: center;
}
.logo h1 {
  margin: 0;
  font-size: 2.25em;
  padding: 70px 0 0 0;
  color:#15835E;
}
.logo h3 {
  color: #15835E;
  padding: 0;
  margin: 0;
}
.imagegroup1{
  width: 210px;
  height: 210px;
}
.imagegroup1 img {
  display: inline;
}
.imagegroup2 img {
  float: left;
}
.maincolumn img {
  height: 200px;
  width: 200px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.maincolumn img.special {
  width: 250px;
}
.about {
  text-align: right;
}

.next_button {
  position: relative;
  left:720px;
  top: 300px;
  height: 0px;
  width: 0px;
}
.next_button img {
  height: 64px;
  width: 64px;
}
.flip img {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}

.contact_box {
  
}



.fancybox-nav {
    width: 60px;       
}

.fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-next {
    right: -60px;
}

.fancybox-prev {
    left: -60px;
}
*/

/*=======new css===========================*/




body {
  font-family: helvetica;
  font-weight: 100;
  background: #4e4e4e; /* was #666 */
  color:white;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
a {
  text-decoration: none;
  color: #999999;  /* was white */
}
a:hover {  /* new */
  color: #ccff00;
}
.onpage { /* new */
  color: #ffffff;
}
#header { /* new */
  margin-right: 4px; 
}
nav { /* new */
  text-align: left;
    font-size: 16px;
  padding-left: 266px;
}
ul {
  list-style: none;
/*  text-align: center; */
  padding-left: 0;
}
ul li {
  display: inline;
  margin-right: 40px; /* was   margin: 0 20px; */
}
nav ul li.active {
  border-bottom: 10px solid #019875; /* was 5px */
}
hr {
  border: 4px solid #019875; /* was 5px */
  margin-top: 20px; /* new */
  margin-bottom: 30px; /* new */
}
.container {
  width: 980px;
  margin: 0 auto;
}


/* SIDEBAR */
.sidebar {
  background: #019875; /* this is pantone emerald, it was #15835e, ys green #05835d */
  float: left;
  width: 210px;
}
.imagegroup1{
  width: 210px;
  height: 210px;
}
.imagegroup1 img {
  display: inline;
  margin: 0 10px 10px 0;
}
.imagegroup2 img {
  display: inline;
  margin: 0 10px 0 0;
}


/* PROJETS */
.maincolumn {
  float: right;
  width: 720px; /* was 674px */
  /*background: white;*/
  /*color: black;*/
}
.maincolumn img {
  width: 215px;
  height: 200px;
  margin: 0 0 6px 6px;
}
.maincolumn img.special {
  width: 260px;
}
.next_button {
  position: relative;
  left:740px; /* was 720px */
  top: 286px; /* was 300px */
  height: 0px;
  width: 0px;
}
.next_button img {
  height: 48px; /* was 64px */
  width: 48px; /* was 64px */
}
.flip img {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}


/* FOOTER */
#footer { /* new */
  font-size:12px;
  color: #999999;
  text-align: justify;
  margin-right: 4px; 
}
#footer ul li {
  margin: 0 20px 0 0; /* was 0 0 0 10px */
}
.address {
  padding-left: 266px; /* new */
}


/* ABOUT */
.about {
  text-align: left; /* was right */
  color:#999999;
  font-size: 14px; /* new */
  line-height: 18px;
}
.about p { /* new */
  margin-top: 20px;
  margin-left: 108px;
}
.about p a { /* new */
  color: #ffffff;
}
.about p a:hover { /* new */
  color: #ccff00;
}


/* TESTIMONIALS */
.testimonials p { /* new */
  margin-top: 15px;
  margin-left: 188px;
  margin-right: 30px;
  padding-bottom: 10px;
}
q { /* new */
  font-size:18px;
  color: #999999;
}


/* FANCYBOX */
.fancybox-nav {
    width: 60px;       
}
.fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}
.fancybox-nav:hover span {
    opacity: 1;
}
.fancybox-next {
    right: -60px;
}
.fancybox-prev {
    left: -60px;
}
