.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

ul {
  list-style: none;
  text-align: center;
}
ul li {
  display: inline;
  margin: 0 50px;
}

.sidebar {
  background: green;
  float: left;
  width: 300px
}
.maincolumn {
  float: left;
  width: 660px;
}