body {
  font-family: helvetica;
  font-weight: 100;
  background: #4e4e4e; /* was #666 */
  color:white;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
a {
  text-decoration: none;
  color: #999999;  /* was white */
}
a:hover {  /* new */
  color: #ccff00;
}
.onpage { /* new */
  color: #ffffff;
}
#header { /* new */
  margin-right: 4px; 
}
nav { /* new */
  text-align: left;
    font-size: 16px;
  padding-left: 266px;
}
ul {
  list-style: none;
/*  text-align: center; */
  padding-left: 0;
}
ul li {
  display: inline;
  margin-right: 40px; /* was   margin: 0 20px; */
}
hr {
  border: 4px solid #019875; /* was 5px */
  margin-top: 20px; /* new */
  margin-bottom: 30px; /* new */
}
.container {
  width: 980px;
  margin: 0 auto;
}


/* SIDEBAR */
.sidebar {
  background: #019875; /* this is pantone emerald, it was #15835e, ys green #05835d */
  float: left;
  width: 210px;
}
.imagegroup1{
  width: 210px;
  height: 210px;
}
.imagegroup1 img {
  display: inline;
  margin: 0 10px 10px 0;
}
.imagegroup2 img {
  display: inline;
  margin: 0 10px 0 0;
}


/* PROJETS */
.maincolumn {
  float: right;
  width: 720px; /* was 674px */
  /*background: white;*/
  /*color: black;*/
}
.maincolumn img {
  width: 215px;
  height: 200px;
  margin: 0 0 6px 6px;
}
.maincolumn img.special {
  width: 260px;
}
.next_button {
  position: relative;
  left:740px; /* was 720px */
  top: 286px; /* was 300px */
  height: 0px;
  width: 0px;
}
.next_button img {
  height: 48px; /* was 64px */
  width: 48px; /* was 64px */
}
.flip img {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}


/* FOOTER */
#footer { /* new */
  font-size:12px;
  color: #999999;
  text-align: justify;
  margin-right: 4px; 
}
#footer ul li {
  margin: 0 20px 0 0; /* was 0 0 0 10px */
}
.address {
  padding-left: 266px; /* new */
}


/* ABOUT */
.about {
  text-align: left; /* was right */
  color:#999999;
  font-size: 14px; /* new */
  line-height: 18px;
}
.about p { /* new */
  margin-top: 20px;
  margin-left: 108px;
}
.about p a { /* new */
  color: #ffffff;
}
.about p a:hover { /* new */
  color: #ccff00;
}


/* TESTIMONIALS */
.testimonials p { /* new */
  margin-top: 15px;
  margin-left: 188px;
  margin-right: 30px;
  padding-bottom: 10px;
}
q { /* new */
  font-size:18px;
  color: #999999;
}


/* FANCYBOX */
.fancybox-nav {
    width: 60px;       
}
.fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}
.fancybox-nav:hover span {
    opacity: 1;
}
.fancybox-next {
    right: -60px;
}
.fancybox-prev {
    left: -60px;
}



.picture_box {
  position: relative;
  display: inline-block;
  overflow: hidden;
}


.title { 
  background-color: rgba(0,0,0,.7);
  bottom: -100px;
  left: 6px;
  color: #fff;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 1;

}
.pop_up {
  width: 95%;
  margin: 0 auto;
}

.picture_box:hover .title{
  opacity:1;
  bottom:10px;
  transition:bottom .15s;
  -webkit-transition:bottom .15s;
  -moz-transition:bottom .15s;
  -ms-transition:bottom .15s;
  -o-transition:bottom .15s;
}

