#header
  %nav
    %ul#nav
      = create_nav_item("gallery", "index.html")
      = create_nav_item('about', 'about.html')
      = create_nav_item('testimonials', 'testimonials.html')
      = create_nav_item('contact', 'mailto:ysinger@post.hardvard.edu')
  %hr