/ .sidebar
/   .imagegroup1
/     = image_tag "tilepattern.jpg", :style => "width:100px;height:95px;float:left;"
/     = image_tag "stonepattern.jpg", :style => "width:100px;height:200px;float:right;margin:0;"
/     = image_tag "woodpattern.jpg", :style => "width:100px;height:95px;"
/   .logo
/     %h1 yaira singer
/     %h3 architecture + design
/   .imagegroup2
/     = image_tag "pattern2.jpg", :style => "height:200px;width:50px;margin-bottom:0;"
/     = image_tag "woodpattern.jpg", :style => "width:150px;height:200px;margin:0;"


.sidebar
  .imagegroup1
    %img{:alt => "image", :src => "images/tilepattern.jpg", :style => "width:100px;height:95px;float:left;"}/
    %img{:alt => "image", :src => "images/stonepattern.jpg", :style => "width:100px;height:200px;float:right;margin:0;"}/
    %img{:alt => "image", :src => "images/woodpattern-H.jpg", :style => "width:100px;height:95px;"}/
  .imagegroup1
    %img{:alt => "image", :src => "images/yairasinger.jpg", :style => "width:210px;height:200px;float:left;"}/
  .imagegroup2
    %img{:alt => "image", :src => "images/pattern2.jpg", :style => "height:200px;width:50px;float:left"}/
    %img{:alt => "image", :src => "images/woodpattern.jpg", :style => "width:150px;height:200px;float:right;margin:0;"}/