/ .maincolumn.about.clearfix
/   %h1 About Yaira Singer
/   %p Yaira Singer is dedicated to innovative design that respects the site and the environment. She approaches each project with individualized attention, customizing not only the design itself but also the design process to suit the needs of the client. Her body of work ranges from large scale residential reconfigurations and combinations, to the detailed design of a single piece of furniture. Apartments that require inventive solutions in order to maximize their functionality and beauty have been an integral part of her portfolio. Her projects also include alterations for commercial spaces such as doctor’s offices and boutique financial offices, as well as institutional public and communal spaces.

/   %p Yaira oversees her projects from conception to their realization. Crucial to providing clients the option of complete design service is the assembly of an ideal project team. Yaira has brought to her projects select contractors, decorators, and other specialists as needed in order to ensure that every aspect of the process is addressed with exceptional expertise.

/   %p Yaira studied architecture first as an undergraduate at Columbia University, and later received her Master in Architecture degree at Harvard University’s Graduate School of Design, during which she had the privilege to intern at Skidmore Owings and Merryl and participate in the evolving design of the Freedom Tower.

/   %p 
/     After completing her formal education, she moved back to New York City where she was born and raised, and began working on a by-project basis for select architects as well as on her own projects. Yaira won an 
/     %a(href="http://europaconcorsi.com/projects/20006--point-Of-View-Ideas-Competition" target="_blank")international competition
/     in 2005 for her design of an Institute for Diplomacy and Conflict Resolution, meant to promote tolerance and the pursuit of peace. Today, her approach to design emphasizes the valuable result of high functionality and spatial efficiency. While employing new and evolving design tools, she aims to create unique spaces that offer fresh perspectives and possibilities to her clients.

.maincolumn.about.clearfix
  %p  
  %p
    %font{:color => "#019875", :size => "+1"}
      Yaira Singer is dedicated to innovative design that respects the site
      %br/
      and the environment.
  %p She approaches each project with individualized attention, customizing not only the design itself but also the design process to suit the needs of the client. Her body of work ranges from large scale residential reconfigurations and combinations, to the detailed design of a single piece of furniture. Apartments that require inventive solutions in order to maximize their functionality and beauty have been an integral part of her portfolio. Her projects also include alterations for commercial spaces such as doctor’s offices and boutique financial offices, as well as institutional public and communal spaces.
  %p Yaira oversees her projects from conception to their realization. Crucial to providing clients the option of complete design service is the assembly of an ideal project team. Yaira has brought to her projects select contractors, decorators, and other specialists as needed in order to ensure that every aspect of the process is addressed with exceptional expertise.
  %p Yaira studied architecture first as an undergraduate at Columbia University, and later received her Master in Architecture degree at Harvard University’s Graduate School of Design, during which she had the privilege to intern at Skidmore Owings and Merryl and participate in the evolving design of the Freedom Tower.
  %p
    After completing her formal education, she moved back to New York City where she was born and raised, and began working on a by-project basis for select architects as well as on her own projects. Yaira won an
    %a{:href => "http://europaconcorsi.com/projects/20006--point-Of-View-Ideas-Competition", :target => "_blank"} international competition
    in 2005 for her design of an Institute for Diplomacy and Conflict Resolution, meant to promote tolerance and the pursuit of peace. Today, her approach to design emphasizes the valuable result of high functionality and spatial efficiency. While employing new and evolving design tools, she aims to create unique spaces that offer fresh perspectives and possibilities to her clients.