<div class="maincolumn contact_box">


<!--   <div id="wufoo">
  <iframe title="Contact" frameborder="0" src="http://coreytrombley.wufoo.com/forms/z7x3p3/">
  <a href="http://coreytrombley.wufoo.com/forms/z7x3p3/" title="HTML Form">Contact</a>
  </iframe>
  </div> -->

  <h3>Contact Info</h3>
  <div id="Vcard">
   <span class="fn">Yaira Singer</span><br><br>
   <div class="org">Architecture & Design</div><br>
   <a class="email" href="mailto:ysinger@post.hardvard.edu">ysinger@post.hardvard.edu</a><br><br>
   <div class="adr">
    <div class="street-address">401 East 86th Street #2H</div>
    <span class="locality">New York</span>
    , 
    <span class="region">NY</span>
    , 
    <span class="postal-code">10028</span>

  </div><br>
  <div class="tel">Tel: 212.600.0119</div>
  <div class="tel">Cel: 917.575.5473</div>
  </div>


</div>