<div class="maincolumn contact_box">
   <!-- <div id="form-title" class="form-title field">
    <h2>
     Contact
   </h2>
  </div>

  <form action="" method="post" novalidate="">

    <div>
      <label for="field1">
        <div>Email Address</div>
      </label>
      <input type="email" name="email" id="field1" required="required">
    </div>


    <div>
      <label for="field2">
        <div>Name</div>
      </label>
      <input type="text" name="name" id="field2" required="required">
    </div>


    <div>
      <label for="field3">
        <div>Message</div>
      </label>
      <textarea rows="5" name="body" required="" style="resize: none;"></textarea>
    </div>


    <div class="clearfix submit">
     <input type="submit" value="Submit">
    </div>
  </form> -->




  <h3>Contact Info</h3>
  <div id="Vcard">
   <span class="fn">Yaira Singer</span><br><br>
   <div class="org">Architecture & Design</div><br>
   <a class="email" href="mailto:ysinger@post.hardvard.edu">ysinger@post.hardvard.edu</a><br><br>
   <div class="adr">
    <div class="street-address">401 East 86th Street #2H</div>
    <span class="locality">New York</span>
    , 
    <span class="region">NY</span>
    , 
    <span class="postal-code">10028</span>

  </div><br>
  <div class="tel">Tel: 212.600.0119</div>
  <div class="tel">Cel: 917.575.5473</div>
  </div>

  <!-- <div id="form">
  <form accept-charset="UTF-8" action="/contact" class="new_message" id="new_message" method="post">
    
    <fieldset class="fields">

      <div id="name" class="field pull-left">
        <label for="message_name">Name</label>
        <input id="message_name" name="message[name]" size="30" type="text" />
      </div>
      <div id="email" class="field pull-right">
        <label for="message_email">Email</label>
        <input id="message_email" name="message[email]" size="30" type="text" />
      </div>

      <div id="subject" class="field">
        <label for="message_subject">Subject</label>
        <input id="message_subject" name="message[subject]" size="30" type="text" />
      </div>

      <div id="body" class="field">
        <label for="message_body">Body</label>
        <textarea cols="40" id="message_body" name="message[body]" rows="3">
        </textarea>
      </div>
    </fieldset>

    <fieldset class="actions">
      <input class="btn pull-right" name="commit" type="submit" value="Send" />
    </fieldset>
  </form>
  </div> -->
</div>