/ .maincolumn
/   .next_button.flip
/     = link_to(image_tag('next-arrow.png'), 'index.html')
/   %a(href="images/Tribeca_Eye_Associates_1.jpg" class="fancybox" rel="group10")  
/     = image_tag "Tribeca_Eye_Associates_1.jpg", :class => "special"
/   %a(href="images/Tribeca_Eye_Associates_2.jpg" class="fancybox" rel="group10")
/     - image_tag "Tribeca_Eye_Associates_2.jpg"
/   %a(href="images/Tribeca_Eye_Associates_3.jpg" class="fancybox" rel="group10")
/     - image_tag "Tribeca_Eye_Associates_3.jpg"
/   %a(href="images/Tribeca_Eye_Associates_4.jpg" class="fancybox" rel="group10")
/     - image_tag "Tribeca_Eye_Associates_4.jpg"

/   %a(href="images/West_97th_Street_Residence_1.jpg" class="fancybox" rel="group11")  
/     = image_tag "West_97th_Street_Residence_1.jpg"
/   %a(href="images/West_97th_Street_Residence_2.jpg" class="fancybox" rel="group11") 
/     - image_tag "West_97th_Street_Residence_2.jpg"
/   %a(href="images/West_97th_Street_Residence_3.jpg" class="fancybox" rel="group11") 
/     - image_tag "West_97th_Street_Residence_3.jpg"

/   %a(href="images/West_End_Avenue_Residence_1.jpg" class="fancybox" rel="group12")
/     = image_tag "West_End_Avenue_Residence_1.jpg"
/   %a(href="images/West_End_Avenue_Residence_3.jpg" class="fancybox" rel="group12")
/     - image_tag "West_End_Avenue_Residence_3.jpg"
/   %a(href="images/West_End_Avenue_Residence_5.jpg" class="fancybox" rel="group12")
/     - image_tag "West_End_Avenue_Residence_5.jpg"

/   %a(href="images/West_Side_Insitutional_Synagogue_3.jpg" class="fancybox" rel="group13")
/     = image_tag "West_Side_Insitutional_Synagogue_3.jpg"
/   %a(href="images/West_Side_Insitutional_Synagogue_5.jpg" class="fancybox" rel="group13")
/     - image_tag "West_Side_Insitutional_Synagogue_5.jpg"
/   %a(href="images/West_Side_Insitutional_Synagogue_7.jpg" class="fancybox" rel="group13")
/     - image_tag "West_Side_Insitutional_Synagogue_7.jpg"
/   %a(href="images/West_Side_Insitutional_Synagogue_9.jpg" class="fancybox" rel="group13")
/     - image_tag "West_Side_Insitutional_Synagogue_9.jpg"
/   %a(href="images/West_Side_Institutional_Synagogue_01.jpg" class="fancybox" rel="group13")
/     - image_tag "West_Side_Institutional_Synagogue_01.jpg"
/   %a(href="images/West_Side_Institutional_Synagogue_10.jpg" class="fancybox" rel="group13")
/     - image_tag "West_Side_Institutional_Synagogue_10.jpg"
/   %a(href="images/West_Side_Institutional_Synagogue_2.jpg" class="fancybox" rel="group13")
/     - image_tag "West_Side_Institutional_Synagogue_2.jpg"
/   %a(href="images/West_Side_Institutional_Synagogue_4.jpg" class="fancybox" rel="group13")
/     - image_tag "West_Side_Institutional_Synagogue_4.jpg"
/   %a(href="images/West_Side_Institutional_Synagogue_6.jpg" class="fancybox" rel="group13")
/     - image_tag "West_Side_Institutional_Synagogue_6.jpg"
/   %a(href="images/West_Side_Institutional_Synagogue_8.jpg" class="fancybox" rel="group13")
/     - image_tag "West_Side_Institutional_Synagogue_8.jpg"
/ =================new stuff?=========
.maincolumn
  .next_button.flip
    %a{:href => "index.html"}
      %img{:alt => "image", :src => "images/next-arrow-1.png"}/
  %a.fancybox{:href => "images/Traditional_Lobby_Design.jpg", :rel => "group10"}
    %img.special{:alt => "image", :src => "images/th_Traditional_Lobby_Design.jpg"}/
  %a.fancybox{:href => "images/marble_bathroom.jpg", :rel => "group11"}
    %img{:alt => "image", :src => "images/th_marble_bathroom.jpg"}/
  %a.fancybox{:href => "images/86th_Street_Residence.jpg", :rel => "group12"}
    %img{:alt => "image", :src => "images/th_86th_Street_Residence_1.jpg"}/
  %a.fancybox{:href => "images/86th_Street_Residence_1.jpg", :rel => "group12"}
  %a.fancybox{:href => "images/86th_Street_Residence_2.jpg", :rel => "group12"}
  %a.fancybox{:href => "images/86th_Street_Residence_6a.jpg", :rel => "group12"}
  %a.fancybox{:href => "images/86th_Street_Residence_8.jpg", :rel => "group12"}
  %a.fancybox{:href => "images/86th_Street_Residence_9.jpg", :rel => "group12"}
  %a.fancybox{:href => "images/West_End_Avenue_Residence_1.jpg", :rel => "group13"}
    %img{:src => "images/th_West_End_Avenue_Residence_1.jpg"}/
  %a.fancybox{:href => "images/West_End_Avenue_Residence_3.jpg", :rel => "group13"}
  %a.fancybox{:href => "images/West_End_Avenue_Residence_5.jpg", :rel => "group13"}
  %a.fancybox{:href => "images/West_97th_Street_Residence_1.jpg", :rel => "group14"}
    %img{:src => "images/th_West_97th_Street_Residence_1.jpg"}/
  %a.fancybox{:href => "images/West_97th_Street_Residence_2.jpg", :rel => "group14"}
  %a.fancybox{:href => "images/West_97th_Street_Residence_3.jpg", :rel => "group14"}
  %a.fancybox{:href => "images/Institue_of_Conflict_Resolution__The_Hague_1.jpg", :rel => "group15"}
    %img.special{:alt => "image", :src => "images/th_Institue_of_Conflict_Resolution__The_Hague.jpg"}/
  %a.fancybox{:href => "images/Institute_of_Conflict_Resolution__The_Hague_2.jpg", :rel => "group15"}
  %a.fancybox{:href => "images/Institute_of_Conflict_Resolution__The_Hague_3.jpg", :rel => "group15"}
  %a.fancybox{:href => "images/Institute_of_Conflict_Resolution__The_Hague_4.jpg", :rel => "group15"}
  %a.fancybox{:href => "images/Institute_of_Conflict_Resolution__The_Hague_5.jpg", :rel => "group15"}