.maincolumn
  .next_button.flip
    %a{:href => "index.html"}
      %img.thumb{:alt => "image", :src => "images/next-arrow-1.png"}/
  .picture_box
    %a.fancybox{:href => "images/Traditional_Lobby_Design.jpg", :rel => "group10"}
      %img.thumb.special{:alt => "image", :src => "images/th_Traditional_Lobby_Design.jpg"}/
    .title 
      .pop_up 
        %p manhattan traditional lobby
  .picture_box
    %a.fancybox{:href => "images/marble_bathroom.jpg", :rel => "group11"}
      %img.thumb{:alt => "image", :src => "images/th_marble_bathroom.jpg"}/
    .title 
      .pop_up 
        %p manhattan marble bathroom
  .picture_box
    %a.fancybox{:href => "images/86th_Street_Residence_1.jpg", :rel => "group12"}
      %img.thumb{:alt => "image", :src => "images/th_86th_Street_Residence_1.jpg"}/
    .title 
      .pop_up 
        %p east 86th street residence
  %a.fancybox{:href => "images/86th_Street_Residence.jpg", :rel => "group12"}
  %a.fancybox{:href => "images/86th_Street_Residence_2.jpg", :rel => "group12"}
  %a.fancybox{:href => "images/86th_Street_Residence_6a.jpg", :rel => "group12"}
  %a.fancybox{:href => "images/86th_Street_Residence_8.jpg", :rel => "group12"}
  %a.fancybox{:href => "images/86th_Street_Residence_9.jpg", :rel => "group12"}
  .picture_box
    %a.fancybox{:href => "images/West_End_Avenue_Residence_1.jpg", :rel => "group13"}
      %img.thumb{:src => "images/th_West_End_Avenue_Residence_1.jpg"}/
    .title 
      .pop_up 
        %p west end avenue residence
  %a.fancybox{:href => "images/West_End_Avenue_Residence_3.jpg", :rel => "group13"}
  %a.fancybox{:href => "images/West_End_Avenue_Residence_5.jpg", :rel => "group13"}
  .picture_box
    %a.fancybox{:href => "images/West_97th_Street_Residence_1.jpg", :rel => "group14"}
      %img.thumb{:src => "images/th_West_97th_Street_Residence_1.jpg"}/
    .title 
      .pop_up 
        %p west 97th street residence
  %a.fancybox{:href => "images/West_97th_Street_Residence_2.jpg", :rel => "group14"}
  %a.fancybox{:href => "images/West_97th_Street_Residence_3.jpg", :rel => "group14"}
  .picture_box
    %a.fancybox{:href => "images/Institue_of_Conflict_Resolution__The_Hague_1.jpg", :rel => "group15"}
      %img.thumb.special{:alt => "image", :src => "images/th_Institue_of_Conflict_Resolution__The_Hague.jpg"}/
    .title 
      .pop_up 
        %p institute for international conflict resolution, the hague
  %a.fancybox{:href => "images/Institute_of_Conflict_Resolution__The_Hague_2.jpg", :rel => "group15"}
  %a.fancybox{:href => "images/Institute_of_Conflict_Resolution__The_Hague_3.jpg", :rel => "group15"}
  %a.fancybox{:href => "images/Institute_of_Conflict_Resolution__The_Hague_4.jpg", :rel => "group15"}
  %a.fancybox{:href => "images/Institute_of_Conflict_Resolution__The_Hague_5.jpg", :rel => "group15"}