.maincolumn
  .next_button
    %a{:href => "gallery.html"}
      %img{:alt => "image", :src => "images/next-arrow-1.png"}/
  .picture_box
    %a.fancybox{:href => "images/Flatiron_Residence1.jpg", :rel => "group1"}
      %img.thumb.special{:alt => "image", :src => "images/th_Flatiron_Residence1.jpg"}/
    .title 
      .pop_up 
        %p Flatiron Residence
  .picture_box
    %a.fancybox{:href => "images/East_End_Ave_Residence_3.jpg", :rel => "group2"}
      %img.thumb{:src => "images/th_East_End_Avenue_Residence_1.jpg"}/
    .title 
      .pop_up 
        %p East End Ave Residence
  %a.fancybox{:href => "images/East_End_Ave_Residence_7.jpg", :rel => "group2"}
  %a.fancybox{:href => "images/East_End_Avenue_Residence2.jpg", :rel => "group2"}
  %a.fancybox{:href => "images/East_End_Avenue_Residence_1.jpg", :rel => "group2"}
  %a.fancybox{:href => "images/East_End_Avenue_Residence_4.jpg", :rel => "group2"}
  %a.fancybox{:href => "images/East_End_Avenue_Residence_5.jpg", :rel => "group2"}
  %a.fancybox{:href => "images/East_End_Avenue_Residence_6.jpg", :rel => "group2"}
  .picture_box
    %a.fancybox{:href => "images/Third_Avenue_Lobby.jpg", :rel => "group3"}
      %img.thumb{:alt => "image", :src => "images/th_Third_Avenue_Lobby.jpg"}/
    .title 
      .pop_up 
        %p Third Avenue Lobby
  .picture_box
    %a.fancybox{:href => "images/West_Side_Insitutional_Synagogue_3.jpg", :rel => "group4"}
      %img.thumb{:src => "images/th_West_Side_Institutional_Synagogue_2.jpg"}/
    .title 
      .pop_up 
        %p Insitutional Synagogue
  %a.fancybox{:href => "images/West_Side_Insitutional_Synagogue_5.jpg", :rel => "group4"}
  %a.fancybox{:href => "images/West_Side_Insitutional_Synagogue_7.jpg", :rel => "group4"}
  %a.fancybox{:href => "images/West_Side_Insitutional_Synagogue_9.jpg", :rel => "group4"}
  %a.fancybox{:href => "images/West_Side_Institutional_Synagogue_01.jpg", :rel => "group4"}
  %a.fancybox{:href => "images/West_Side_Institutional_Synagogue_10.jpg", :rel => "group4"}
  %a.fancybox{:href => "images/West_Side_Institutional_Synagogue_2.jpg", :rel => "group4"}
  %a.fancybox{:href => "images/West_Side_Institutional_Synagogue_4.jpg", :rel => "group4"}
  %a.fancybox{:href => "images/West_Side_Institutional_Synagogue_6.jpg", :rel => "group4"}
  %a.fancybox{:href => "images/West_Side_Institutional_Synagogue_8.jpg", :rel => "group4"}
  .picture_box
    %a.fancybox{:href => "images/park_avenue_residence_1.jpg", :rel => "group5"}
      %img.thumb{:alt => "image", :src => "images/th_park_avenue_residence_1.jpg"}/
    .title 
      .pop_up 
        %p Park Avenue Residence
  %a.fancybox{:href => "images/park_avenue_residence_2.jpg", :rel => "group5"}
  .picture_box
    %a.fancybox{:href => "images/Flatiron_Residence_2.jpg", :rel => "group6"}
      %img.thumb.special{:src => "images/th_Flatiron_Residence_2.jpg"}/
    .title 
      .pop_up 
        %p Flatiron Residence
  .picture_box
    %a.fancybox{:href => "images/87th_Street_Residence_1.jpg", :rel => "group7"}
      %img.thumb{:alt => "image", :src => "images/th_87th_Street_Residence_1.jpg"}/
    .title 
      .pop_up 
        %p 87th Street Residence
  .picture_box
    %a.fancybox{:href => "images/Tribeca_Eye_Associates_1.jpg", :rel => "group8"}
      %img.thumb.special{:src => "images/th_Tribeca_Eye_Associates_1.jpg"}/
    .title 
      .pop_up 
        %p Tribeca Eye Associates
  %a.fancybox{:href => "images/Tribeca_Eye_Associates_2.jpg", :rel => "group8"}
  %a.fancybox{:href => "images/Tribeca_Eye_Associates_3.jpg", :rel => "group8"}
  %a.fancybox{:href => "images/Tribeca_Eye_Associates_4.jpg", :rel => "group8"}
  .picture_box
    %a.fancybox{:href => "images/Scarsdale_Residence_1.jpg", :rel => "group9"}
      %img.thumb{:src => "images/th_Scarsdale_Residence_1.jpg"}/
    .title 
      .pop_up 
        %p Scarsdale Residence
  %a.fancybox{:href => "images/Scarsdale_Residence_2.jpg", :rel => "group9"}