.maincolumn.about.clearfix
  %h1 Testimonials
  %q It's been a pleasure working with Yaira. She is the consummate professional.
  %h5 Interior Decorator. Helen U. Friedman

  %q Thank you for selecting an excellent contractor and making very tasteful changes…Your professional services are right on target.
  %h5 Dr. Raphael Santore

  %q Thanks again for everything. We have gotten so many complements regarding the office decor!
  %h5 Dr. Dalia Nagel

  %q Thanks again for all of your help in this process. We are so happy in our apartment, and are appreciative not only of all the work you did but of course with the final product as well…It is really just what we wanted.
  %h5 Ariel and Elana Fishman

  %q It was a pleasure working with you on our home.  The details you resolved fit seamlessly into a polished design.
  %h5 Susanne and Andre Emmerich
